.centerColumn {
  flex: 1;
  padding: 20px;
  position: relative;
  z-index: 1;
  width: 100%;
  align-items: center;
  
  
}
.rightColumn {
  flex:1 ;
  padding: 20px;
  position: relative;
  left: 50px;
  z-index: 0;
  width: 100%;
}

.textContent {
  max-width: 500px; /* Adjust width according to your design preference */

}
.mainBannerImage{
  display:none;
}
@media (max-width: 768px) {
  .bannerContainer {
    height: 600px;
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-image: url('~/src/components/banner-right.png');
    background-size: cover; /* Replace with the actual path to your image */
  }
  .bannerButton {
    bottom: 0px;
  }
  
  .centerColumn {
    display: block;
    text-align: center;

  }
  .rightColumn {
    display: none;
  }
  .textContent {
    position: flex;
    h1 {
      font-size: 30px;
      font: Helvetica;
      font-weight: 700;
      color:#9D95E8;
      text-align: left;
    }
    p {
      font-size: 14px;
      word-wrap: break-word;
      text-align: center;
      width: 50%;
    }
  }
 
  
}

.bannerButton:hover {
  background-color: #372774; /* Darker shade for hover effect */
}
body {
  font-family: 'Arial', sans-serif; /* Adjust the font-family as per design requirement */
}
p {
  font-size: 1rem;
}
.container {
  padding: 20px;
}
.section {
  margin-bottom: 40px;
}
.header {
  margin-bottom: 20px;
}
h1 {
  font-size: 50px; /* Adjust size to suit design */
  color: #9D95E8;
}
p {
  font-size: 16px;
  color: #666;
}

/* Further adjustments based on specific layout needs */

/* Additional specific styles can be added here */
